files:
  "/etc/awslogs/awscli.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [plugins]
      cwlogs = cwlogs
      [default]
      region = ap-northeast-1

  "/etc/awslogs/awslogs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state
      datetime_format = '%Y-%m-%dT%H:%M:%S%z' # '2016-02-08T18:30:32+09:00'
      time_zone = UTC
      # buffer_duration = 5000
      # initial_position = start_of_file
      # encoding = utf-8

      [eb-current-app/access.log]
      log_group_name  = media_storage.front-nginx
      log_stream_name = {instance_id}.access
      file = /var/log/eb-docker/containers/eb-current-app/access.log

      [eb-current-app/error.log]
      log_group_name  = media_storage.front-nginx
      log_stream_name = {instance_id}.error
      file = /var/log/eb-docker/containers/eb-current-app/error.log

      [nginx/access.log]
      log_group_name  = media_storage.front-nginx
      log_stream_name = {instance_id}.nginx-access
      file = /var/log/nginx/access.log

      [nginx/error.log]
      log_group_name  = media_storage.front-nginx
      log_stream_name = {instance_id}.nginx-error
      file = /var/log/nginx/error.log
